<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>University Recommendation</title>

    </head>

    <body style="background-color:#FAEBD7">
	<h1>Recommending universities based on your scores</h1>
    <br></br>
	<table cellpadding="15"cellspacing="5">
  <tr>
    <th>University</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>Adelphi</td>
    <td>newyork</td>
  </tr>
  <tr>
    <td>University-of-Maine</td>
    <td>Maine</td>
  </tr>
  <tr>
  <td>Texas A&M</td>
    <td>Texas</td>
  </tr>
  <tr>
  <td>USC</td>
    <td>California</td>
  </tr>
  <tr>
  <td>Florida state</td>
    <td>Florida</td>
  </tr>
  <tr>
  <td>Hofstra</td>
    <td>Newyork</td>
  </tr>
  <tr>
  <td>Boston-College</td>
    <td>massachusetts</td>
  </tr>
  <tr>
  <td>Florida-Tech</td>
    <td>Florida</td>
  </tr>
  <tr>
  <td>University of California-Davis</td>
    <td>California</td>
  </tr>
  <tr>
  <td>UCLA</td>
    <td>California</td>
  </tr>
   <tr>
  <td>stevens</td>
    <td>newjersey</td>
  </tr>
</table>

       
    </body>

</html>