<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>University Recommendation</title>

    </head>

    <body style="background-color:#FAEBD7">
	<h1>Recommending universities based on your scores</h1>
    <br></br>
	<table cellpadding="15"cellspacing="5">
  <tr>
    <th>University</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>Rensselaer</td>
    <td>Newyork</td>
  </tr>
  <tr>
    <td>Cornell</td>
    <td>Newyork</td>
  </tr>
  <tr>
    <td>University-of-Penn</td>
    <td>Pennsylvania</td>
  </tr>
  <tr>
  <td>Brown</td>
    <td>Rhodeisland</td>
  </tr>
  <tr>
  <td>Columbia</td>
    <td>Newyork</td>
  </tr>
  <tr>
  <td>Dartmouth</td>
    <td>newhampshire</td>
  </tr>
  <tr>
  <td>Johns-Hopkins</td>
    <td>Madison</td>
  </tr>
  <tr>
  <td>Stanford</td>
    <td>California</td>
  </tr>
  <tr>
  <td>Princeton</td>
    <td>newjersey</td>
  </tr>
  <tr>
  <td>MIT</td>
    <td>massachusetts</td>
  </tr>
  <tr>
  <td>Cal-Tech</td>
    <td>California</td>
  </tr>
  <tr>
  <td>Yale</td>
    <td>Connecticut</td>
  </tr>
  <tr>
  <td>Harvard</td>
    <td>massachusetts</td>
  </tr>
  <tr>
  <td>CCNY</td>
    <td>Newyork</td>
  </tr>
  <tr>
  <td>Colgate</td>
    <td>Newyork</td>
  </tr>
  <tr>
  <td>Colgate</td>
    <td>Newyork</td>
  </tr>
  <tr>
  <td>Cooper-Union</td>
    <td>Newyork</td>
  </tr>
  <tr>
  <td>University-of-Montana</td>
    <td>montana</td>
  </tr>
  <tr>
  <td>University-of-Oklahoma</td>
    <td>Oklahoma</td>
  </tr>
  </table>

       
    </body>

</html>
