<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>University Recommendation</title>

    </head>

    <body style="background-color:#FAEBD7">
	<h1>Recommending universities based on your scores</h1>
    <br></br>
	<table cellpadding="15"cellspacing="5">
  <tr>
    <th>University</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>University-of-California-Santa-Cruz</td>
    <td>California</td>
  </tr>
  <tr>
    <td>Rochester-Tech</td>
    <td>Newyork</td>
  </tr>
  <tr>
  <td>Georgia-Tech</td>
    <td>Georgia</td>
  </tr>
  <tr>
  <td>University-of-California-Berkely</td>
    <td>California</td>
  </tr>
  <tr>
  <td>Boston-University</td>
    <td>massachusetts</td>
  </tr>
  <tr>
  <td>NYU</td>
    <td>Newyork</td>
  </tr>
  <tr>
  <td>University-of-California-San-Diego</td>
    <td>California</td>
  </tr>
  <tr>
  <td>Carnegie-Mellon</td>
    <td>Pennsylvania</td>
  </tr>
  <tr>
  <td>Case-Western</td>
    <td>Ohio</td>
  </tr>
  <tr>
  <td>Worcester</td>
    <td>massachusetts</td>
  </tr>
  </table>

       
    </body>

</html>
