<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <link rel="icon" type="image/png" href="images/graduation-cap-diploma-18747492.jpg" />
		<title>CollegeTime</title>
    </head>

    <body style="background-color:#FAEBD7">
    
	<h1>Recommending universities based on your scores</h1>
    <br></br>
	<table cellpadding="15"cellspacing="5">
  <tr>
    <th>University</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>Morgan state</td>
    <td>Maryland</td>
  </tr>
  <tr>
    <td>Pratt</td>
    <td>Newyork</td>
  </tr>
  <tr>
    <td>Arizona State</td>
    <td>Arizona</td>
  </tr>
  <tr>
    <td>University of San Francisco</td>
    <td>California</td>
  </tr>
  <tr>
    <td>Illinois Tech</td>
    <td>Illinois</th>
  </tr>
 </table>

       
    </body>

</html>